/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[pP]ackages/

/[Mm]emoryCaptures/
/[Rr]ecordings/

.vs/
/.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

crashlytics-build.properties

# 如果使用 Addressables 并且需要共享这些数据，请确保相关数据不被忽略
#/Assets/AddressableAssetsData/*/*.bin*

# 取消忽略 StreamingAssets 文件，如果有需要的文件在其中
#/Assets/StreamingAssets/aa.meta
#/Assets/StreamingAssets/aa/*

# 确保项目设置文件没有被忽略
/ProjectSettings/